//Colors
$primary_moderate-cyan: hsl(176, 50%, 47%);
$primary_dark-cyan: hsl(176, 72%, 28%);

$neutral_white: hsl(0, 0%, 100%);
$neutral_black: hsl(0, 0%, 0%);
$neutral_light-gray: hsla(0, 0%, 48%, 0.37);
$neutral_lighter-gray: hsla(0, 0%, 48%, 0.171);
$neutral_lightest-gray: hsla(0, 0%, 48%, 0.096);
$neutral_dark-gray: hsl(0, 0%, 48%);

//Typography
$fs_body: 1rem;
$fs_h1: 1.2rem;
$fs_h1-md: 1.7rem;
$fs_h1-lg: 2rem;
$fs_p: 0.85rem;
$fs_p-lg: 1rem;

$ff-primary: 'Commissioner', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
